<!DOCTYPE html>
<html>
<%- include('../../layout/head') %> 
<body>
    <%- include('../../layout/header') %> 
    <div class="banner">book details</div>
    <section class="container">
        <img src="<%= book.cover %>"> 
        <h3><%= book.title %></h3>
        <h4><%= book.author %></h4>
        <%- include('detail', {book:book})  %> 
    </section> 
</body>
</html>
