<section class="book">
  <img src="<%= book.cover %>">

  <h3><%= book.title %></h3>
  <h4><%= book.authors %></h4>

  <% if(!flag) { %>

  <form action="/books" method="post">

    <input type="hidden" name="cover" value="<%= book.cover %>">
    <input type="hidden" name="title" value="<%= book.title %>">
    <input type="hidden" name="authors" value="<%= book.authors %>">
    <input type="hidden" name="description" value="<%= book.description %>">
    <input type="hidden" name="isbn" value="<%= book.isbn %>">

    <button id="save-book">Save book</button>
  </form>

  <% } %>

</section>